<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>images</key>
			<array>
				<string>fpo_tmp.jpg</string>
				<string>movie_tmp.jpg</string>
				<string>pdf_tmp.jpg</string>
			</array>
			<key>color</key>
			<string>12,50,36</string>
			<key>duration</key>
			<real>1</real>
			<key>label</key>
			<string>BY BIKE</string>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>fpo_tmp.jpg</string>
				<string>movie_tmp.jpg</string>
				<string>pdf_tmp.jpg</string>
			</array>
			<key>color</key>
			<string>120,50,36</string>
			<key>duration</key>
			<real>1</real>
			<key>label</key>
			<string>BY PLANE</string>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>fpo_tmp.jpg</string>
				<string>movie_tmp.jpg</string>
				<string>pdf_tmp.jpg</string>
			</array>
			<key>color</key>
			<string>12,50,36</string>
			<key>duration</key>
			<real>1</real>
			<key>label</key>
			<string>BY BIKE</string>
		</dict>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
	<array>
		<dict/>
		<dict/>
		<dict/>
	</array>
</array>
</plist>
