<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>images</key>
			<array>
				<string>slotmachine_skanska_360_icon_self.png</string>
			</array>
			<key>duration</key>
			<real>1</real>
			<key>text</key>
			<string>125 YEARS OF+GLOBAL EXPERIENCE+WITH INNOVATIVE+AND AWAED-WINNING+PROJECTS</string>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>slotmachine_skanska_360_icon_self.png</string>
			</array>
			<key>bgimage</key>
			<string>slotmachine_skanska_360_bg_left.png</string>
			<key>duration</key>
			<real>1</real>
			<key>label</key>
			<string>SELF FINANCE</string>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>slotmachine_skanska_360_icon_self.png</string>
			</array>
			<key>duration</key>
			<real>1</real>
			<key>text</key>
			<string>125 YEARS OF+GLOBAL EXPERIENCE+WITH INNOVATIVE+AND AWAED-WINNING+PROJECTS</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>images</key>
			<array>
				<string>slotmachine_skanska_360_icon_local_small.png</string>
			</array>
			<key>duration</key>
			<real>1</real>
			<key>text</key>
			<string>11 MILLION SF+OF SUSTAINABLE+OFFICE BUILDINGS+DELIVERED IN THE+PAST FIVE YEARS</string>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>slotmachine_skanska_360_icon_local.png</string>
			</array>
			<key>bgimage</key>
			<string>slotmachine_skanska_360_bg_center.png</string>
			<key>duration</key>
			<real>1</real>
			<key>label</key>
			<string>LOCAL DEVELOPMENT EXPERTS</string>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>slotmachine_skanska_360_icon_local_small.png</string>
			</array>
			<key>duration</key>
			<real>1</real>
			<key>text</key>
			<string>11 MILLION SF+OF SUSTAINABLE+OFFICE BUILDINGS+DELIVERED IN THE+PAST FIVE YEARS</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>images</key>
			<array>
				<string>slotmachine_skanska_360_icon_world.png</string>
			</array>
			<key>duration</key>
			<real>1</real>
			<key>text</key>
			<string>11 MILLION SF+OF SUSTAINABLE+OFFICE BUILDINGS+DELIVERED IN THE+PAST FIVE YEARS</string>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>slotmachine_skanska_360_icon_world.png</string>
			</array>
			<key>bgimage</key>
			<string>slotmachine_skanska_360_bg_right.png</string>
			<key>duration</key>
			<real>1</real>
			<key>label</key>
			<string>WORLD CLASS CONSTRUCTION</string>
		</dict>
		<dict>
			<key>images</key>
			<array>
				<string>slotmachine_skanska_360_icon_world.png</string>
			</array>
			<key>duration</key>
			<real>1</real>
			<key>text</key>
			<string>11 MILLION SF+OF SUSTAINABLE+OFFICE BUILDINGS+DELIVERED IN THE+PAST FIVE YEARS</string>
		</dict>
	</array>
</array>
</plist>
