<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>000page.jpg</string>
	</array>
	<array>
		<string>001page.jpg</string>
	</array>
	<array>
		<string>011page.jpg</string>
	</array>
	<array>
		<string>021page.jpg</string>
	</array>
	<array>
		<string>012page.jpg</string>
	</array>
	<array>
		<string>023page.jpg</string>
	</array>
	<array>
		<string>024page.jpg</string>
	</array>
</array>
</plist>
